@font-face {
  font-family: iranSans;
  src: url(../../public/Fonts/Vazir-Font/Vazir-Regular-FD.woff);
}
* {
  font-family: iranSans !important;
}
body {
  background-color: #fff;
  max-width: 1600px;
  margin: 0 auto;
}
.admin {
  background-image: url(../../public/adminBG/v617batch2-bb-01-technology.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.full-width {
  width: 100%;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e2e8f0;
}
::-webkit-scrollbar-thumb {
  background: #abb7c9;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #919cac;
}
